node_modules/
dist/
.DS_Store
*.log
.env
.env.*

# Certificates and keys
*.pem
*.key

# Playwright
playwright-cli/
.playwright-cli/
playwright-report/
test-results/
.playwright/

# Local Netlify folder
.netlify

# Storybook build output
storybook-static/
