# npm publish configuration
# Scoped package published publicly (access=public is required for @scope/* packages).
# Public availability is NOT an open-source licence: this package ships under
# LicenseRef-Wender-Media-Source-1.0 (source-available, proprietary). The MIT note that
# used to sit here predated the 3.0.0 relicence and was wrong — see CHANGELOG 3.0.0.
# Only v2.1.0 and earlier remain on npm under MIT, for legacy consumers.
access=public
