---
/**
 * TabPanel Component - WenderMedia Astro Components
 *
 * Content panel for use within Tabs component.
 *
 * @example
 * <TabPanel id="overview">
 *   <h3>Overview Content</h3>
 *   <p>Panel content here...</p>
 * </TabPanel>
 * @copyright 2007-2026 Wender Media - Arnold Wender. MIT License.
 * @see https://github.com/arnoldwender/wm-project-astro-components
 */

export interface Props {
  id: string;
  class?: string;
}

const {
  id,
  class: className = '',
} = Astro.props;
---

<div
  role="tabpanel"
  id={`${id}-panel`}
  aria-labelledby={`${id}-tab`}
  class:list={['tab-panel', className]}
  tabindex="0"
  hidden
>
  <slot />
</div>
