---
/**
 * TabPanel Component - WenderMedia Astro Components
 *
 * Individual tab panel content wrapper.
 *
 * @example
 * <TabPanel id="features">
 *   <p>Features content here...</p>
 * </TabPanel>
 * @copyright 2007-2026 Wender Media - Arnold Wender. MIT License.
 * @see https://github.com/arnoldwender/wm-project-astro-components
 */

export interface Props {
  id: string;
  class?: string;
}

const {
  id,
  class: className = '',
} = Astro.props;
---

<div
  id={`panel-${id}`}
  role="tabpanel"
  aria-labelledby={`tab-${id}`}
  data-tab-panel={id}
  class:list={['tab-panel', className]}
  tabindex="0"
>
  <slot />
</div>
